.right_content {
    padding: 10px;
}

select {
    border: none;
    outline: none;
}

input {
    font-size: 14px;
    font-family: "SVN-Futura light", sans-serif;
}

.frm_product {
    position: absolute;
    left: 50%;
    right: 0;
}

.vl {
    border-left: 1px solid black;
    height: 600px;
    margin: 0px 30px;
}

.checkInfo {
    margin-top: 30px;
    width: 80%;
}

.payment-confirm {
    margin-top: 80px;
}

.cart__item {
    margin: 0px 20px;
}

.item__img * {
    width: 30%;
}

.price {
    text-align: right;
}

.discount-code .code__apply {
    width: 540px;
}

.discount-code .btn-from {
    width: 100px;
}

#isnotavailable {
    color: red;
    font-size: large;
    font-style: bold;
}

#available {
    color: green;
    font-size: large;
    font-style: bold;
}

a {
    color: gray;
    text-decoration: none;
}

.main {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border: 0;
}

.img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.bc {
    margin: 18px 18px;
}

.product-list {
    flex-wrap: wrap;
}

.product {
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-bottom: 2rem;
    padding: 1rem;
}

.product h2 {
    font-size: 1.5rem;
    margin-top: 0;
}

.product p {
    font-size: 1rem;
    margin-top: 0;
    text-align: center;
}

.product .price {
    margin-top: 1rem;
    flex-direction: row;
    align-items: center;
}

.product .name-product {
    margin-right: 0.5rem;
    color: gray;
}

.product .original-price {
    font-weight: bold;
    color: gray;
    text-align: right;
}

#show_more_btn {
    display: flex;
    justify-content: center;
}

#show_more_btn_1 {
    display: flex;
    justify-content: center;
}

.product-list {
    flex-wrap: wrap;
}

#show_more_btn {
    display: block;
    margin: auto;
    width: 20%;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
}

#show_more_btn_1 {
    display: block;
    margin: auto;
    width: 20%;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
}

#loading-animation {
    text-align: center;
}

.img-container * {
    all: unset;
    margin: auto;
    margin-top: 50px;
    width: 95%;
    height: 80%;
}

.m-content-product-category {
    margin: auto;
    margin-top: 40px;
    position: relative;
    width: 50%;
}

.wp-block-image img {
    width: 100%;
    margin: 10px 0 10px 0;
    display: block;
}

figcaption {
    text-align: center;
}

.show-more-information {
    padding: 50px;
}

.btn-buy:hover{
    background-color: black;
}

.cart .active {
    right: 0;
}