.auth-form-dangky {
  background-color: var(--white-color); /*background form đăng ký*/
  border-radius: 5px;
  overflow: hidden; /*làm cho khung ở dưới đc bo vào do thằng con lớn hơn với thằng cha*/
  margin: auto;
  width: 600px;
  margin-top: 200px;
  border: 1px solid #ccc;
  position: relative;
  /* display: none; */
}
.auth-form__form__dangky {
  padding: 12px 0;
}
.auth-form__container__dangky {
  padding: 0 60px;
}
.auth-form__header__dangky {
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 10px;
  display: flex;
}

.auth-form__switch-btn__dangky {
  padding: 12px 0;
  margin: 0 auto;
  font-size: 1.4rem;
  color: var(--black-color);
  font-weight: 400;
  cursor: pointer;
}
.auth-form__input__dangky {
  width: 100%;
  margin-top: 16px;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
  height: 40px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}
.auth-form__text-link-dangky {
  text-decoration: none;
  color: var(--primary-color);
}
.auth-form__controls__dangky {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.auth-form__help-link {
  text-decoration: none;
  color: #939393;
  font-size: 1.4rem;
}
.btn-dangky {
  position: relative;
  /* width: 400px; */
  width: 100%;
  height: 50px;
  background-color: var(--black-color);
  border: transparent;
  color: white;
  cursor: pointer;
}
.btn-dangky::before {
  position: absolute;
  content: " ";
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  display: block;
  transition: all ease-out 0.5s;
  background-color: rgba(255, 255, 255, 0.5);
}
.btn-dangky:hover::before {
  height: 0;
  cursor: pointer;
}
.btn-dangky::after {
  position: absolute;
  content: " ";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  display: block;
  transition: all ease-out 0.5s;
  background-color: rgba(255, 255, 255, 0.5);
}
.btn-dangky:hover::after {
  height: 0;
  cursor: pointer;
}

.quenmk {
  text-decoration: none;
  color: var(--blue-color);
  font-size: 14px;
}

.auth-form__dangky2 {
  font-size: 1rem;
  padding-top: 10px;
}

/* .auth-form__dangky--theA{
    padding-top:12px;
    color: var(--blue-color);

} */
.modal-dangky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  /* display: block; */
  z-index: 10;
}
#btnCloseModal {
  position: absolute;
  background-color: transparent;
  align-items: center;
  width: 30px;
  height: 30px;
  border: transparent;
  /* border-radius: 13px; */
  font-size: 35px;
  right: 0;
  top: 0;
}
#btnCloseModal {
  display: flex;
  justify-content: center;
  background-color: transparent;
}
#btnCloseModal:hover {
  transform: scale(1.2);
  cursor: pointer;
  opacity: 0.6;
}
#btnCloseModalTwo {
  position: absolute;
  background-color: transparent;
  align-items: center;
  width: 30px;
  height: 30px;
  border: transparent;
  /* border-radius: 13px; */
  font-size: 35px;
  right: 0;
  top: 0;
}
#btnCloseModalTwo {
  display: flex;
  justify-content: center;
  background-color: transparent;
}
#btnCloseModalTwo:hover {
  transform: scale(1.2);
  cursor: pointer;
  opacity: 0.6;
}
.loi {
  width: 400px;
  padding: 6px;
  border: 1px solid red;
  background-color: yellow;
  display: none;
}
