:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.header {
  width: 100%;
  margin: 0;
}

#banner_pic {
  height: 113px;
  margin: auto;
  width: 964px;
  background-image: url("https://old.chinesetest.cn/css/image_1/index_banner.jpg");
  background-repeat: no-repeat;
}

.main-container {
  /* overflow: hidden; */
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1348px;
  height: 456px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
  /* overflow: hidden; */
}
.root {
  position: absolute;
  height: 456px;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
}
.background {
  position: absolute;
  width: 1348px;
  height: 456px;
  right: 0;
  bottom: 0;
  background: #fdfdfd;
  z-index: 1;
}
.groups {
  position: absolute;
  width: 953px;
  height: 456px;
  right: 57px;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}
.text {
  position: relative;
  width: 884px;
  height: 53px;
  margin: 2px 0 0 28px;
  background: rgba(0, 0, 0, 0);
  z-index: 38;
  overflow: visible auto;
}
.background-1 {
  position: relative;
  width: 875px;
  height: 46px;
  margin: 4px 0 0 5px;
  background: url(./assets/images/d9c2da344fb8d322ee218699032175697328aa09.png)
    no-repeat center;
  background-size: cover;
  z-index: 39;
  border-radius: 3px;
}
.score {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  right: 782px;
  bottom: 15px;
  color: #7e7c7f;
  font-family: Inter, var(--default-font-family);
  font-size: 16.200000762939453px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.image {
  position: absolute;
  width: 14px;
  height: 16px;
  right: 840px;
  bottom: 14px;
  background: url(./assets/images/36107952c3635466184029b17707eea18a04efec.png)
    no-repeat center;
  background-size: cover;
  z-index: 41;
}
.background-2 {
  position: relative;
  width: 885px;
  height: 389px;
  margin: 12px 0 0 28px;
  background: url(./assets/images/79a86de6adc607d9d7b97fa321694dc7b7372e16.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.groups-3 {
  position: absolute;
  width: 626px;
  height: 378px;
  right: 257px;
  bottom: 4px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 16;
}
.validation-code-wrong {
  display: block;
  position: relative;
  height: 20px;
  margin: 26px 0 0 218px;
  color: #af2934;
  font-family: Inter, var(--default-font-family);
  font-size: 13.5px;
  font-weight: 600;
  line-height: 16.338px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
.flex-row-ade {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 525px;
  height: 35px;
  margin: 17px 0 0 43px;
  z-index: 36;
}
.regroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
  width: 239px;
  height: 35px;
  z-index: 36;
}
.ticket-no {
  flex-shrink: 0;
  position: relative;
  height: 19px;
  color: #666063;
  font-family: Inter, var(--default-font-family);
  font-size: 14.100000381469727px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.button {
  flex-shrink: 0;
  position: relative;
  width: 159px;
  height: 35px;
  background: rgba(0, 0, 0, 0);
  z-index: 33;
}
.background-4 {
  position: relative;
  width: 152px;
  height: 27px;
  margin: 5px 0 0 5px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #cccccc;
  z-index: 34;
}
.text-4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  right: 47px;
  bottom: 6px;
  color: #838384;
  font-family: Inter, var(--default-font-family);
  font-size: 13.5px;
  font-weight: 600;
  line-height: 16.338px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.please-enter-test {
  flex-shrink: 0;
  position: relative;
  height: 20px;
  color: #3c2d35;
  font-family: Inter, var(--default-font-family);
  font-size: 14.100000381469727px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.regroup-5 {
  position: relative;
  width: 490px;
  height: 34px;
  margin: 40px 0 0 73px;
  z-index: 31;
}
.button-6 {
  position: absolute;
  width: 159px;
  height: 34px;
  right: 280px;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 28;
}
.background-7 {
  position: relative;
  width: 152px;
  height: 27px;
  margin: 5px 0 0 4px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #cccccc;
  z-index: 29;
}
.nguyen-thanh-an {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  right: 5px;
  bottom: 5px;
  color: #686671;
  font-family: Inter, var(--default-font-family);
  font-size: 13.5px;
  font-weight: 600;
  line-height: 16.338px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.please-enter-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  right: 0;
  bottom: 7px;
  color: #422a2d;
  font-family: Inter, var(--default-font-family);
  font-size: 14.5px;
  font-weight: 600;
  line-height: 17.548px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  right: 447px;
  bottom: 9px;
  color: #595b60;
  font-family: Inter, var(--default-font-family);
  font-size: 14.800000190734863px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.image-8 {
  position: absolute;
  width: 9px;
  height: 11px;
  right: 270px;
  bottom: 14px;
  background: url(./assets/images/27f7cb11b5644edd39abb61478b5120172c50c7a.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
}
.flex-row-f {
  position: relative;
  width: 472px;
  height: 27px;
  margin: 46px 0 0 77px;
  z-index: 25;
}
.regroup-9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 123px;
  height: 27px;
  right: 349px;
  bottom: 0;
  z-index: 25;
}
.code {
  flex-shrink: 0;
  position: relative;
  height: 18px;
  color: #949696;
  font-family: Inter, var(--default-font-family);
  font-size: 14.5px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.background-a {
  flex-shrink: 0;
  position: relative;
  width: 72px;
  height: 27px;
  background: #ffffff;
  border: 1px solid #b9b6bb;
  z-index: 24;
}
.reload-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  right: 0;
  bottom: 5px;
  color: #412e36;
  font-family: Inter, var(--default-font-family);
  font-size: 14.5px;
  font-weight: 600;
  line-height: 17.548px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.image-b {
  position: absolute;
  width: 75px;
  height: 25px;
  right: 269px;
  bottom: 0;
  background: url(./assets/images/42355a1dd9c52b5a4589bee96683feaaa396d3a5.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
}
.flex-row-fb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 229px;
  height: 20px;
  margin: 11px 0 0 129px;
  z-index: 21;
}
.image-c {
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
  background: url(./assets/images/dc734ebdcfe0d34247780344ec3cd7ff10908cff.png)
    no-repeat center;
  background-size: cover;
  z-index: 21;
}
.validation-code {
  flex-shrink: 0;
  position: relative;
  height: 18px;
  color: #ff262b;
  font-family: Inter, var(--default-font-family);
  font-size: 14.100000381469727px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.button-d {
  position: relative;
  width: 105px;
  height: 43px;
  margin: 20px 0 0 263px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border: none;
  z-index: 17;
  overflow: visible auto;
}
.background-e {
  position: relative;
  width: 100px;
  height: 37px;
  margin: 5px 0 0 3px;
  background: url(./assets/images/37857144a13c77251b381c72825595a9e0cad1cb.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
  border-radius: 5.75px;
}
.submit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  right: 19px;
  bottom: 13px;
  color: #d5e2ed;
  font-family: Inter, var(--default-font-family);
  font-size: 15.5px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.groups-f {
  position: absolute;
  width: 257px;
  height: 370px;
  right: 2px;
  bottom: 8px;
  background: rgba(0, 0, 0, 0);
  z-index: 4;
}
.background-10 {
  position: absolute;
  width: 9px;
  height: 354px;
  right: 249px;
  bottom: 9px;
  background: url(./assets/images/dcc2dd6f4ed0622b74e851acce2b25a1a07f2ac8.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.flex-column-fff {
  position: absolute;
  width: 233px;
  height: 194px;
  right: 11px;
  bottom: 146px;
  z-index: 12;
}
.button-11 {
  position: relative;
  width: 231px;
  height: 43px;
  margin: 0 0 0 1px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border: none;
  z-index: 12;
  overflow: visible auto;
}
.background-12 {
  position: relative;
  width: 224px;
  height: 37px;
  margin: 5px 0 0 4px;
  background: #f6f6f6;
  border: 2px solid #dedede;
  z-index: 13;
  border-radius: 6px;
}
.query-student-number {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  right: 25px;
  bottom: 9px;
  color: #818081;
  font-family: Inter, var(--default-font-family);
  font-size: 16.5px;
  font-weight: 600;
  line-height: 19.969px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.button-13 {
  position: relative;
  width: 231px;
  height: 42px;
  margin: 20px 0 0 1px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border: none;
  z-index: 9;
  overflow: visible auto;
}
.background-14 {
  position: relative;
  width: 224px;
  height: 36px;
  margin: 5px 0 0 4px;
  background: #f6f6f6;
  border: 1px solid #e0e0e0;
  z-index: 10;
  border-radius: 4px;
}
.forget-exam-number {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  right: 31px;
  bottom: 9px;
  color: #868281;
  font-family: Inter, var(--default-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 20.574px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.button-15 {
  position: relative;
  width: 233px;
  height: 43px;
  margin: 20px 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 6;
  overflow: visible auto;
}
.background-16 {
  position: relative;
  width: 225px;
  height: 37px;
  margin: 5px 0 0 5px;
  cursor: pointer;
  background: #f6f6f6;
  border: 2px solid #dedede;
  z-index: 7;
  border-radius: 7px;
}
.apply-duplicates {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  right: 0;
  bottom: 7px;
  color: #787072;
  font-family: Inter, var(--default-font-family);
  font-size: 16.899999618530273px;
  font-weight: 600;
  line-height: 20.453px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.score-report {
  display: block;
  position: relative;
  height: 20px;
  margin: 6px 0 0 66px;
  color: #8e8e8f;
  font-family: Inter, var(--default-font-family);
  font-size: 17.100000381469727px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.groups-17 {
  position: absolute;
  width: 307px;
  height: 186px;
  right: 986px;
  bottom: 269px;
  background: rgba(0, 0, 0, 0);
  z-index: 43;
}
.button-18 {
  position: relative;
  width: 305px;
  height: 56px;
  margin: 1px 0 0 1px;
  background: rgba(0, 0, 0, 0);
  z-index: 48;
}
.text-19 {
  position: absolute;
  width: 305px;
  height: 56px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 50;
}
.background-1a {
  position: relative;
  width: 304px;
  height: 55px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 49;
  overflow: visible auto;
}
.background-1b {
  position: relative;
  width: 300px;
  height: 52px;
  margin: 4px 0 0 3px;
  background: url(./assets/images/a6467f57ff6bfa0f97e56b4d2f219aeee844f000.png)
    no-repeat center;
  background-size: cover;
  z-index: 51;
  border-radius: 9px;
}
.score-certificate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  right: 88px;
  bottom: 18px;
  color: #858385;
  font-family: Inter, var(--default-font-family);
  font-size: 15.5px;
  font-weight: 600;
  line-height: 18.759px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.image-1c {
  position: absolute;
  width: 14px;
  height: 17px;
  right: 266px;
  bottom: 20px;
  background: url(./assets/images/5557746a81f456227204b72ac12d1cc6970673d1.png)
    no-repeat center;
  background-size: cover;
  z-index: 53;
}
.background-1d {
  position: relative;
  width: 300px;
  height: 130px;
  margin: -4px 0 0 4px;
  font-size: 0px;
  background: #fefefe;
  border: 2px solid #d6d7d9;
  z-index: 42;
  overflow: visible auto;
  border-radius: 9px;
}
.score-1e {
  display: block;
  position: relative;
  height: 15px;
  margin: 19px 0 0 13px;
  color: #9f9e9e;
  font-family: Inter, var(--default-font-family);
  font-size: 11.199999809265137px;
  font-weight: 600;
  line-height: 13.555px;
  text-align: left;
  white-space: nowrap;
  z-index: 47;
}
.background-1f {
  position: relative;
  width: 302px;
  height: 9px;
  margin: 17px 0 0 -1px;
  background: url(./assets/images/56129bd45438bc7b56489b89797b9629f00c8558.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
}
.certificate {
  display: block;
  position: relative;
  height: 15px;
  margin: 14px 0 0 13px;
  color: #7f6c62;
  font-family: Inter, var(--default-font-family);
  font-size: 10.600000381469727px;
  font-weight: 600;
  line-height: 12.828px;
  text-align: left;
  white-space: nowrap;
  z-index: 45;
}
.background-20 {
  position: relative;
  width: 301px;
  height: 9px;
  margin: 17px 0 0 -1px;
  background: url(./assets/images/830a4dc98d71fb0f5a2247ccfdc6628c545ebc71.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
}
